.jumbotron {
  height: 50vh;
  background-color: #c7eff0;
  margin-bottom: 0;
  /* padding: 10vh; */
}

.title {
  display: flex;
  justify-content: center;
}

.fontLink {
  font-family: "Prompt", sans-serif;
  font-size: 15vh;
  color: white;
  margin-top: 1rem;
  text-decoration: none;
}

.copyright {
  margin-top: 10vh;
  color: white;
}

.fontBody {
  font-family: "Prompt", sans-serif;
}

body {
  font-family: 'Baskervville', serif;
}

h2 {
  font-size: 40px;
}

h3,
h4,
h5,
h6 {
  font-family: 'Baskervville', serif;
}

h3 {
  margin-top: 10px;
  font-size: 26px;
}

.small {
  font-size: small;
  font-style: italic;
  font-family: 'Baskervville', serif;
}

.bookcover {
  height: 65px;
  width: 80%;
  margin: 5px 5px 5px 2px;
}


.booktitle {
  font-size: small;
  font-family: 'Roboto Slab', sans-serif;
}

/* .wheat {
  background-color: rgb(245, 236, 220);
} */

.blue {
  background-color: #394261;
}

.spacebefore {
  margin-top: 10px;
}

.space {
  margin-left: 5px;
}

.headerLinks {
  text-decoration: none;
  
}

.headerLinks :hover{
  color: gold;
}

.headerLinks :active {
  color: purple;
}



@media only screen and (max-width: 768px) {

  .booktitle {
    font-size: x-small;
  }
  .small {
    font-size: x-small;
  }

  .bookcover {
    height: 80px;
  }


}